*~
eshell
server
tramp
ac-comphist.dat
el-get
elpa/*
!elpa/.placeholder
var
transient
.cache/
.emacs.desktop
.emacs.desktop.lock
custom.el
network-security.data
session.1091033f86115496fd155240715325452700000017570068
url/